h1 {font-family: sans-serif;}

table {font-family: sans-serif; table-layout: fixed; text-align: center; background-color: turquoise;}

section {background-color: #ffa366;}

.div1{background-color: #80ccff;}